*{
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

body {
    background-color: rgb(167, 47, 191);

}

.logo img{
   width: 35%;

}

.logo{
    text-align: center;
    padding: 20px 0px 20px 0px; 
    /* top right bottom left */
}

.title{
    color: white;
    font-size: 15px;
    padding: 20px 0px;
}

.grade-wrapper{
    width: 70%;
    margin: auto;
    padding: 6px;
   
}

.allgrades{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grades{
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.grade-detail{
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.grade-detail h2{
    cursor: pointer;
}

.grade-detail:hover{
    transform: scale(1.08);
    transition: 0.1s ease;
}

.grade-detail img{
    height: 15%;
    width: 15%;
}

.gametitle{
    display: flex;
    padding: 30px 0px;
    color: white;
    font-size: 15px;
}
.gamecard{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card img{
    width: 85%;
    cursor: pointer;

}

.card img:hover{
    transform: scale(1.09);
    transition: 0.3s ease;
}
/* footer */

.footer1{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer12{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.wrapperfooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line{
    width: 100%;
    height: 4px;
    background-color: white;
    border: 0;
    margin: 20px 0;
}

.footer1 img{
    height: 25%;
    width: 25%;
}

.footer1 h2{
    color: white;
    font-size: 15px;
}

.footer1 p{
    color: white;
    font-size: 12px;
}
.footer12 h2{
    color: white;
    font-size: 15px;
}

.footer12 p{
    color: white;
    font-size: 12px;
}


.footer12 img{
    height: 15%;
    width: 15%;
}

.button{
    position: absolute;
    right: 20px;
    top: 20px;
}

.button button{
    width: 43px;
    height: 40px;
    border: 0;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
}

.button img{
    height: 30%;
    width: 30%;
    background-color: white;
}


h3{
    color: rgb(54, 52, 52);
    font-size: 18px;
}

h2{
    color: white;
    font-size: 12px;
}


.slider-container {
    width: 100%;
    height: 230px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.slider {
    display: flex;
    height: 230px;
    border: 4px solid white;
    overflow: hidden;
    
}

.slider-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
}

.pagination {
    position: relative;
    z-index: 100;
    bottom: 10px;
    display: inline-flex;
    column-gap: 30px;
}

.pagination button {
    width: 40px;
    cursor: pointer;
    border: 1px solid white;
    height: 3px;
    background-color: white;
}